<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Detail Group Page</title>
</head>
<body>
    <h2>{{ group.name }}</h2>
    <b>Owner</b><p>{{ group.manager}}</p>
    <b>Type</b><p>{{ group.type}}</p>
    <b>Members</b>
    {% for member in group.members.all %}
        <p>{{ member }}</p>
    {% endfor %}

    <h2>Topics</h2><hr/>
    {% for topic in topics %}
        <a href="{% url 'detail_topic' topic.id %}"><h3>{{ topic.title }}</h3></a>
    {% endfor %}
    <a href="{% url 'delete_group' group.id %}">Delete Group</a>
    <a href="{% url 'edit_group' group.id %}">Edit Group</a>
    <a href="{% url 'join_group' group.id %}">Join Group</a>
    <a href="{% url 'fav_group' group.id %}">Fav Group</a>

</body>
</html>