<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
	{% if user.is_authenticated %}
	User: {{ user }} <br><br>
	<a href="{% url 'new_group' %}">Create Group</a>
	<a href="{% url 'groups' %}">List Group</a>
    <a href="{% url 'edit_profile' %}">Edit Profile</a>
    <hr/>
	<a href="/logout/">Logout</a><br>
	{% else %}
	<b>You need to login or register in order to reach site</b><br>
	<a href="/register/">Register</a><br>
	<a href="/login/">Login</a><br>
	{% endif %}
</body>
</html>