<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>



<h3>Login Page</h3>
{% if user.is_authenticated %}
    <script language="javascript">
        window.location.href = "http://localhost:8000";
    </script>
{% endif %}

{% if form.errors %}
Wrong username or password
{% endif %}
 
<form method="POST">
{% csrf_token %}
<table>
    {{ form }}
</table>
<input type="submit" value="Login" />
 
{% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
{% else %}
    <input type="hidden" name="next" value="/.." />
{% endif %}
</form>	
</body>
</html>