body { 
  background: url("/static/media/bg1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
     }

    .container h1{
     padding-top: 60px;
     /*font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;*/
     font-family: 'Open Sans', sans-serif;
     font-weight: 500;
     color:#fff;
     text-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
     }
     
    .container p{
     font-family: 'Open Sans', sans-serif;
     color:#fff;
     font-size: 20px;
     font-weight: 500;
     text-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
     }
     
     .container .main-content{
      margin-top:70px;
     }
     
     .main-content h4{
      font-family: 'Open Sans', sans-serif;
       font-weight: 500;
      color:#fff;    
     }
     
     .main-content .last-btn .btn{
      width:42%;
      float:right;
     }
     
     .input-group .form-control{
      margin-top:0px;
     }
     
     .main-content .alert-danger-alt {
      border-color: #B63E5A;
      background: #E26868;
      color: #fff;
      }
     
   