body { 
  background: url("/static/media/bg1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
     }

    .container h1{
     margin-top: 50px;
     /*font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;*/
     font-family: 'Open Sans', sans-serif;
     font-weight: 500;
     color:#fff;
     text-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
     }
     
    .container p1{
     font-family: 'Open Sans', sans-serif;
     color:#fff;
     font-size: 20px;
     font-weight: 500;
     text-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
     }
     
    .container p2{
     font-family: 'Open Sans', sans-serif;
     color:#fff;
     font-size: 20px;
     font-weight: 500;
     text-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
     }
     
    .container p3{
     font-family: 'Open Sans', sans-serif;
     color:#fff;
     font-size: 20px;
     font-weight: 500;
     text-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
     }
     
    .container video{
     width:600px;
     margin-top:35px;
     margin-left: 15.5px;
     }

    .panel-default {
     opacity: 0.9;
     margin-top:-361px;
     margin-right:-100px;
     margin-left:100px;
     height:338.5px;
     }

    .login{
     margin-bottom: -3px;
     margin-top:-3px;
     margin-left: 138px;
     font-size: 20px;
     font-family: 'Open Sans', sans-serif;
     }

    .control-label{
     margin-top:12.5px;
     font-family: 'Open Sans', sans-serif;
     font-size: 15px;
     }

    .btn-group-sm>.btn, .btn-sm {
     width:105px;
     height:32px;
     margin-top: 9px;
     }

    .form-group.last { margin-bottom:0px; }

    .panel-footer{
     margin-top:21px;
     }
     
     