{% extends "base.html" %}

{% load gravatar %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="/static/css/detail_topic.css"/>
<link rel="stylesheet" href="/static/css/topic_comment.css"/>
<!--<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css"/>-->
<!--<script src="/static/js/topicbox.js"></script>-->
{% endblock %}

{% block js %}
{{ block.super }}
<script src="/static/js/topicbox.js"></script>
{% endblock %}

{% block title %}Komsu Komsu Huu{% endblock %}

{% block sidebarjs%}
<script>document.getElementById("topics").style.cssText = "color: #fff;background-color: #ffbb33;border-radius: 10px;";</script>
{% endblock %}


{% block content %}
{% if favorite_topic == "success" %}
<div class="col-md-5">
    <div class="main-content">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-success" style="width:400px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;</button>
               <span class="glyphicon glyphicon-ok"></span> <strong>Success Message</strong>
                <hr class="message-inner-separator">
                <p>
                    Topic successfully added to favourites!</p>
            </div>
        </div>
    </div>
  </div>
 </div> 
{% elif favorite_topic == "leave-success" %}
<div class="col-md-5">
    <div class="main-content">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-success" style="width:400px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;</button>
               <span class="glyphicon glyphicon-ok"></span> <strong>Success Message</strong>
                <hr class="message-inner-separator">
                <p>
                    Topic successfully removed from favourites!</p>
            </div>
        </div>
    </div>
  </div>
 </div> 
{% elif favorite_topic == "no-members" %}
<div class="col-md-5">
    <div class="main-content">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-danger" style="width:400px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;</button>
               <span class="glyphicon glyphicon-hand-right"></span> <strong>Warning Message</strong>
                <hr class="message-inner-separator">
                <p>
                    You are not a member of this group!</p>
            </div>
        </div>
    </div>
  </div>
 </div> 
{% endif %}
<div id="detect-device-mobile" class="col-md-5" style="display: none">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="alert alert-danger" style="width:400px;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        &times;</button>
                    <p>
                        This site not suitable on mobile devices for now!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-9">
    <div class="main-content">
        <form action="{% url 'new_post' topic.id %}" method="POST">
            {% csrf_token %}
            <div class="[ panel panel-default ] panel-google-plus">
                <div class="dropdown">
                            <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="[ glyphicon glyphicon-chevron-down ]"></span>
                            </span>

                    <ul class="dropdown-menu" role="menu">
                        {% if already_favorited %}
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'fav_topic' topic.id %}">Unfavourite
                            Topic</a></li>
                        {% else %}
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'fav_topic' topic.id %}">Favourite
                            Topic</a></li>
                        {% endif %}

                    </ul>
                </div>

                <div class="panel-heading">
                    <a href="{% url 'users' topic.owner %}">
                    <img class="[ img-circle pull-left ]" src="{% gravatar_url topic.owner.email 100 %}"
                         alt="Mouse0270"/>
                    </a>

                    <h3>{{ topic.owner }}</h3>
                    <h5><span>Shared publicly</span> - <span class="glyphicon glyphicon-calendar"></span><span>{{ topic.date_created }}</span>
                    </h5>

                    <h2>{{ topic.title }}</h2>
                </div>

                <div class="panel-body">
                    <p> {{ topic.content }}</p>
                </div>

                <div class="panel-footer">
                    <!--  <button type="button" class="[ btn btn-default ]">+1</button>
                      <button type="button" class="[ btn btn-default ]">
                          <span class="[ glyphicon glyphicon-share-alt ]"></span>
                      </button> -->
                    <div class="input-placeholder">Add a comment...</div>
                </div>

                <div class="panel-google-plus-comment">
                    <img class="img-circle" src="{% gravatar_url topic.owner.email 100 %}"
                         alt="User Image"/>

                    <div class="panel-google-plus-textarea">

                        <textarea type="text" name="content" rows="4"></textarea>
                        <button type="submit" value="Add Post" class="[ btn btn-success disabled ]">Post comment
                        </button>
                        <button type="reset" class="[ btn btn-default ]">Cancel</button>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="qa-message-list" id="wallmessages">
                {% for post in posts %}
                <div class="message-item">
                    <div class="message-inner">
                        <div class="message-head clearfix">
                            <div class="avatar pull-left">
                                <a href="{% url 'users' post.owner %}">
                                    <img src="{% gravatar_url post.owner.email 100 %}" alt=""
                                         class="img-responsive img-circle"/>
                                </a>
                            </div>
                            <div class="user-detail">

                                <h5 class="handle">{{ post.owner }}</h5>

                                <div class="post-meta">
                                    <div class="asker-meta">
                                        <span class="qa-message-what"></span>
                                        <span class="qa-message-when">
                                            <span class="qa-message-when-data1">
                                                <span class="glyphicon glyphicon-calendar"></span>{{ post.date_created }}</span>
                                        </span>
                                        <span class="qa-message-who">
                                            <span class="qa-message-who-pad">by </span>
                                            <span class="qa-message-who-data">
                                                <a href="{% url 'users' post.owner %}">{{ post.owner}}</a>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="qa-message-content">
                            {{ post.content }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </form>
    </div>
</div>

{% endblock %}