<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Detail Group Page</title>
</head>
<body>
    <h2>{{ group.name }}</h2>
    <b>Owner</b><p>{{ group.manager}}</p>
    <b>Type</b><p>{{ group.type}}</p>
    <b>Members</b>
    {% for member in group.members.all %}
        <p>{{ member }}</p>
    {% endfor %}
    <a href="{% url 'delete_group' group.id %}">Delete Group</a>
    <a href="{% url 'edit_group' group.id %}">Edit Group</a>
    <a href="{% url 'join_group' group.id %}">Join Group</a>

</body>
</html>