{% extends "base.html" %}

{% load gravatar %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="/static/css/detail_group.css"/>
<link rel="stylesheet" href="/static/css/members.css"/>
<link rel="stylesheet" href="/static/css/new_topic.css"/>
<link rel="stylesheet" href="/static/css/edit_group.css"/>
{% endblock %}

{% block js %}
{{ block.super }}
<script src="/static/js/members.js"></script>>
{% endblock %}

{% block title %}Detail Group Page{% endblock %}

{% block sidebarjs%}
<script>document.getElementById("groups").style.cssText = "color: #fff;background-color: #ffbb33;border-radius: 10px;";</script>
{% endblock %}

{% block content %}
{% if password_fail %}
<div class="col-md-5">
    <div class="main-content">
        <div class="span2 well">

            <b>Password is not correct!</b>

        </div>
    </div>
</div>
{% endif %}
{% if create_topic %}
  <div class="col-md-5">
    <div class="main-content">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-success" style="width:400px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;</button>
               <span class="glyphicon glyphicon-ok"></span> <strong>Success Message</strong>
                <hr class="message-inner-separator">
                <p>
                    You successfully created a topic!</p>
            </div>
        </div>
    </div>
  </div>
 </div>   
{% endif %}

{% if join_group %}
<div class="col-md-5">
    <div class="main-content">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-success" style="width:400px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;</button>
               <span class="glyphicon glyphicon-ok"></span> <strong>Success Message</strong>
                <hr class="message-inner-separator">
                <p>
                    You successfully joined the group!</p>
            </div>
        </div>
    </div>
  </div>
 </div> 
{% endif %}
{% if edit_group == "permission" %}
<div class="col-md-5">
    <div class="main-content">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-success" style="width:400px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;</button>
               <span class="glyphicon glyphicon-ok"></span> <strong>Success Message</strong>
                <hr class="message-inner-separator">
                <p>
                    You successfully edited the group!</p>
            </div>
        </div>
    </div>
  </div>
 </div> 
{% elif edit_group == "no-permission" %}
<div class="col-md-5">
    <div class="main-content">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-danger" style="width:400px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;</button>
               <span class="glyphicon glyphicon-hand-right"></span> <strong>Success Message</strong>
                <hr class="message-inner-separator">
                <p>
                    Only owner can edit the group!</p>
            </div>
        </div>
    </div>
  </div>
 </div> 
{% endif %}

{% if favorite_group == "success" %}
<div class="col-md-5">
    <div class="main-content">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-success" style="width:400px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;</button>
               <span class="glyphicon glyphicon-ok"></span> <strong>Success Message</strong>
                <hr class="message-inner-separator">
                <p>
                    You added this group to favourites!</p>
            </div>
        </div>
    </div>
  </div>
 </div> 
{% elif favorite_group == "leave-success" %}
<div class="col-md-5">
    <div class="main-content">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-success" style="width:400px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;</button>
               <span class="glyphicon glyphicon-ok"></span> <strong>Success Message</strong>
                <hr class="message-inner-separator">
                <p>
                    This group is no longer in your favourites!</p>
            </div>
        </div>
    </div>
  </div>
 </div> 

{% elif favorite_group == "no-members" %}
<div class="col-md-5">
    <div class="main-content">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-danger" style="width:400px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;</button>
               <span class="glyphicon glyphicon-hand-right"></span> <strong>Success Message</strong>
                <hr class="message-inner-separator">
                <p>
                    You are not a member of this group yet!</p>
            </div>
        </div>
    </div>
  </div>
 </div> 
{% endif %}


<div class="col-md-5">
    <div class="main-content">
        
        <h1>{{ group.name }}</h1>

        <p>Owner: {{ group.manager}}</p>

        <hr/>

        {% if user in group.members.all %}

        {% include 'new_topic.html' %}

        <hr/>

        <h1>Trending Topics</h1>
        {% for topic in topics %}
        <li><a href="{% url 'detail_topic' topic.id %}">{{ topic.title }}</a></li>
        {% empty %}
        <h5>No topics available!</h5>
        {% endfor %}

        <hr/>

        <div class="buttons">

            {% if user == group.manager %}
            <a class="btn btn-danger btn-sm" href="{% url 'delete_group' group.id %}">Delete Group</a>

            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#ModalEditGroup">Edit
                Group
            </button>

            {% endif %}

            {% include 'edit_group.html' %}
            {% if already_favorited %}
            <a class="btn btn-danger btn-sm" href="{% url 'fav_group' group.id %}">Unfavourite</a>
            {% else %}
            <a class="btn btn-success btn-sm" href="{% url 'fav_group' group.id %}">Favourites</a>
            {% endif %}

            <a class="btn btn-danger btn-sm" href="{% url 'leave_group' group.id %}">Leave Group</a>

            {% else %}

             <form action="{% url 'detail_group' group.id %}" method="POST" id="form1">
                {% csrf_token %}
                {% if group.type == 2 %}
                <div class="form-group">
                    <label for="id_name" class="col-sm-2 control-label">Key:</label>

                    <div class="col-sm-10">
                        <input class="form-control" id="id_key" maxlength="100" name="key" type="password"/>
                    </div>
                </div>
                {% endif %}
                <input type="hidden" name="latitude" id="latitude"/>
                <input type="hidden" name="longitude" id="longitude"/>
            </form>
            <button type="button" class="btn btn-primary btn-sm" onclick="getLocation();">Join Group</button>

            {% endif %}



        </div>
    </div>
</div>
{% if user in group.members.all %}
<div class="col-md-4">
    <div class="members">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading c-list">

                        <span class="title">Members</span>
                        <ul class="pull-right c-controls">
                            <li><a href="#" style="color:#fff;" class="hide-search" data-command="toggle-search"
                                   data-toggle="tooltip" data-placement="top" title="Toggle Search"><i
                                    class="fa fa-ellipsis-v"></i></a></li>
                        </ul>
                    </div>

                    <div class="row" style="display: none;">
                        <div class="col-xs-12">
                            <div class="input-group c-search">
                                <input type="text" class="form-control" placeholder="Search" id="contact-list-search">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><span
                                                    class="glyphicon glyphicon-search text-muted"></span></button>
                                        </span>
                            </div>
                        </div>
                    </div>

                    <ul class="list-group" id="contact-list">
                        {% for member in group.members.all %}
                        <li class="list-group-item">
                            <div class="col-xs-12 col-sm-3">
                                <img src="{% gravatar_url member.email 100 %}" alt=""
                                     class="img-responsive img-circle"/>
                            </div>

                            <div class="col-xs-12 col-sm-9">
                                <span class="name"><a
                                        href="{% url 'users' member.username %}">{{member.get_full_name}}</a></span><br/>
                                <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip"
                                      title='{{ member.customuser.address }}'></span>
                                <span class="visible-xs"> <span class="text-muted"></span><br/></span>
                                <span class="fa fa-comments text-muted c-info" data-toggle="tooltip"
                                      title="{{ member.email }}"></span>
                                <span class="visible-xs"> <span class="text-muted">{{ member.email }}</span><br/></span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script>
    var latitude = document.getElementById("latitude");
    var longitude = document.getElementById("longitude");
    var form = document.getElementById("form1");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        latitude.value = position.coords.latitude;
        longitude.value = position.coords.longitude;
        form.submit();
    }

</script>

{% endblock %}
