{% extends "base.html" %}

{% load gravatar %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="/static/css/groups.css"/>
<link rel="stylesheet" href="/static/css/new_group.css"/>
<!--<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css"/>-->
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}

{% block title %}Groups Page{% endblock %}

{% block sidebarjs%}
<script>document.getElementById("groups").style.cssText = "color: #fff;background-color: #ffbb33;border-radius: 10px;";</script>
{% endblock %}

{% block content %}
{% if error %}
<div class="col-md-5">
    <div class="main-content">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-danger" style="width:420px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;</button>
               <span class="glyphicon glyphicon-hand-right"></span> <strong>Success Message</strong>
                <hr class="message-inner-separator">
                <p>
                    Please check your field! Group name is unique!</p>
            </div>
        </div>
    </div>
  </div>
 </div>
{% endif %}
{% if create_group %}
<div class="col-md-5">
    <div class="main-content">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-success" style="width:400px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;</button>
               <span class="glyphicon glyphicon-ok"></span> <strong>Success Message</strong>
                <hr class="message-inner-separator">
                <p>
                    You successfully created the group!</p>
            </div>
        </div>
    </div>
  </div>
 </div>
{% endif %}

{% if join_group %}
<div class="col-md-5">
    <div class="main-content">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-danger" style="width:400px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;</button>
               <span class="glyphicon glyphicon-hand-right"></span> <strong>Success Message</strong>
                <hr class="message-inner-separator">
                <p>
                    The range is not suitable for this group!</p>
            </div>
        </div>
    </div>
  </div>
 </div>
{% endif %}
{% if leave_group %}
<div class="col-md-5">
    <div class="main-content">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-success" style="width:400px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;</button>
               <span class="glyphicon glyphicon-ok"></span> <strong>Success Message</strong>
                <hr class="message-inner-separator">
                <p>
                    You successfully left the group!</p>
            </div>
        </div>
    </div>
  </div>
 </div>
{% endif %}
{% if delete_group %}
<div class="col-md-5">
    <div class="main-content">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-success" style="width:400px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;</button>
               <span class="glyphicon glyphicon-ok"></span> <strong>Success Message</strong>
                <hr class="message-inner-separator">
                <p>
                    You successfully deleted the group!</p>
            </div>
        </div>
    </div>
  </div>
 </div>


{% endif %}

<div class="col-md-9">
    <div class="main-content">

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#ModalNewGroup"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Create New Group</button>

        {% include 'new_group.html' %}

        {% for group in groups %}
        <section class="comment-list">
            <!--<article class="row">  -->
            <!-- <div class="col-md-2 col-sm-2 hidden-xs">
          <figure class="thumbnail">
                <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
              </figure>
             </div> -->
            <div class="col-md-10 col-sm-10">
                <div class="panel panel-default arrow left">
                    <div class="panel-body">
                        <div class="comment-post">
                            <p><a href="{% url 'detail_group' group.id %}">{{ group.name }}</a></p>

                            <header class="text-left">

                                <div class="comment-user"><img src="{% gravatar_url group.manager.email 100 %}" alt="" class="img-circle" style="width:14px;height:14px;*margin-right:.3em;line-height:14px;vertical-align:text-top;}"/>
                                    By <a href="{% url 'users' group.manager.username %}">{{ group.manager}}</a>
                                </div>
                                <time class="comment-date" datetime="{{ group.date_created }}">
                                    <span class="glyphicon glyphicon-time"></span>{{ group.date_created }}
                                </time>
                                {% if user in group.members.all %}
                                    <div class="comment-user"><img src="/static/media/tick.png" class="img-circle" style="width:14px;height:14px;*margin-right:.3em;line-height:14px;vertical-align:text-top;}"/><b><font color="green"> Already Joined</font></b></div>
                                {% endif %}

                            </header>
                        </div>
                    </div>
                </div>
            </div>
            <!--</article>-->
        </section>
        {% empty %}
        <h1>No groups available!</h1>
        {% endfor %}
    </div>
</div>


{% endblock %}