{% extends "base.html" %}
{% load gravatar %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/css/home.css"/>
    <link rel="stylesheet" href="/static/css/postbox.css"/>
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block title %}Home{% endblock %}

{% block sidebarjs %}
    <script>document.getElementById("home").style.cssText = "color: #fff;background-color: #ffbb33;border-radius: 10px;";</script>
{% endblock %}

{% block content %}
<div id="detect-device-mobile" class="col-md-5" style="display: none">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="alert alert-danger" style="width:400px;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        &times;</button>
                    <p>
                        This site not suitable on mobile devices for now!</p>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="col-md-9">
        <div class="main-content">
            <div class="widget-area no-padding blank">
                <div class="status-upload">
                    <form>
                        <textarea placeholder="Write something about your neighbourhood!"></textarea>
                        <ul>
                            <li><a title="" data-toggle="tooltip" data-placement="bottom"
                                   data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
                            <li><a title="" data-toggle="tooltip" data-placement="bottom"
                                   data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
                            <li><a title="" data-toggle="tooltip" data-placement="bottom"
                                   data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
                        </ul>
                        <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Share</button>
                    </form>
                </div>
                <!-- Status Upload  -->
            </div>

            <!-- Widget Area -->
            <div class="qa-message-list" id="wallmessages">
                {% for post in lates_post|slice:":5" %}
                    <div class="message-item">
                        <div class="message-inner">
                            <div class="message-head clearfix">
                                <div class="avatar pull-left">
                                    <a href="{% url 'users' post.owner %}">
                                        <img src="{% gravatar_url post.owner.email 80 %}" alt=""
                                             class="img-responsive img-circle"/>
                                    </a>
                                </div>
                                <div class="user-detail">

                                    <h5 class="handle">{{ post.owner }}</h5>

                                    <div class="post-meta">
                                        <div class="asker-meta">
                                            <span class="qa-message-what"></span>
                                        <span class="qa-message-when">
                                            <span class="qa-message-when-data1">
                                                <span class="glyphicon glyphicon-calendar"></span>{{ post.date_created }}</span>
                                        </span>
                                        <span class="qa-message-who">
                                            <span class="qa-message-who-pad">by </span>
                                            <span class="qa-message-who-data">
                                                <a href="{% url 'users' post.owner %}">{{ post.owner }}</a>
                                            </span>
                                            <div class="qa-message-content">
                                                <a href="{% url 'detail_topic' post.topic.id %}">{{ post.content }}</a>
                                            </div>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>


    </div>





{% endblock %}