{% extends "base.html" %}

{% block css %}
{{ block.super }}
    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/home.css"/>
    <link rel="stylesheet" href="/static/css/postbox.css"/>
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}

{% block title %}Home{% endblock %}

{% block sidebarjs%}
<script>
    document.getElementById("home").style.color="#fff";
    document.getElementById("home").style.backgroundColor="#ffbb33";
    document.getElementById("home").style.borderRadius="10px";
</script>
{% endblock %}

{% block content %}
        <div class="col-md-9">
            <div class="main-content">
                <div class="widget-area no-padding blank">
                    <div class="status-upload">
                        <form>
                            <textarea placeholder="Write something about your neighbourhood!"></textarea>
                            <ul>
                                <li><a title="" data-toggle="tooltip" data-placement="bottom"
                                       data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
                                <li><a title="" data-toggle="tooltip" data-placement="bottom"
                                       data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
                                <li><a title="" data-toggle="tooltip" data-placement="bottom"
                                       data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
                            </ul>
                            <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Share
                            </button>
                        </form>
                    </div>
                    <!-- Status Upload  -->
                </div>
                <!-- Widget Area -->
            </div>
        </div>
{% endblock %}