{% extends "base.html" %}

{% block css %}
{{ block.super }}
<style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map-canvas { height: 650px }
</style>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript">
    var map;

    function initialize() {

    if(navigator.geolocation) {

        success = function(position) {
        createMap(position.coords.latitude, position.coords.longitude);
      };

      error = function() { createMap(12.659493, 79.415412); }

      navigator.geolocation.getCurrentPosition(success, error);
    } else { createMap(12.659493, 79.415412);}

    }

    function createMap(lat, lng) {
    var mapDiv = document.getElementById('map-canvas');
    map = new google.maps.Map(mapDiv, {
      center: new google.maps.LatLng(lat, lng),
      zoom: 13,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    google.maps.event.addListenerOnce(map, 'tilesloaded', addMarkers);

    }

    function addMarkers() {

      {% for mark in groups %}
        var point = new google.maps.LatLng({{mark.grouplocation.latitude}},{{mark.grouplocation.longitude}});
        var type= {{ mark.type }};
        var state= {{ mark.state }};
        if( type == 1){
            type="Public"
        }else {
            type="Private"
        }
        if( state == 1){
            state="Permanent"
        }else {
            state="Temporary"
        }

        var marker = new google.maps.Marker({
            position: point,
            map: map,
            title: '{{ mark.id }}'
        });

        marker['infowindow']  = new google.maps.InfoWindow({
        content: "<h1>{{mark.name}}</h1> <br> Manager: {{ mark.manager }} <br> Type:"+type+"<br> State:"+state+" <p> <a href=\"detail_group\/{{ mark.id }}\"> Details</a>"
        });

        google.maps.event.addListener(marker, 'click', function() {
            //window.location.href = this.url;
            this['infowindow'].open(map, this);
        });

        google.maps.event.addListener(marker, 'mouseover', function() {
            // this['infowindow'].open(map, this);
        });

        google.maps.event.addListener(marker, 'mouseout', function() {
            // this['infowindow'].close(map, this);

        });

        {% endfor %}

  }

  google.maps.event.addDomListener(window, 'load', initialize);

</script>
{% endblock %}

{% block title %}Maps{% endblock %}

{% block sidebarjs%}
<script>
    document.getElementById("maps").style.color="#fff";
    document.getElementById("maps").style.backgroundColor="#ffbb33";
    document.getElementById("maps").style.borderRadius="10px";
</script>
{% endblock %}

{% block content %}

<div class="col-md-9">
    <div class="main-content">
        <div id="map-canvas"></div>
    </div>
</div>

{% endblock %}
