<div class="container-fluid">
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            {% load notifications_tags %}
            {% load profiles_extras%}
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:#fff;" href='{% url "home" %}'><img style="margin-bottom:20px" src="/static/media/icon.png" width="40px" height="40px"/></a>
                <a class="navbar-brand" style="color:#fff;" href='{% url "home" %}'>Komsu Komsu Huu</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-3">
                <ul class="nav navbar-nav navbar-right">
                    <ul class="nav navbar-nav">
                        <ul class="nav navbar-right">
                            <div class="search-box">
                                <form class="navbar-form" role="q" method="get" action="{% url 'search' %}">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search" name="q">

                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </ul>
                    </ul>

                    {% notifications_unread as unread_count %}
                    <li class="dropdown1">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-bell"></span>Notifications <span class="label label-success">{{ unread_count|subs:message_count }}</span>
                        </a>

                        <ul class="dropdown-menu">

                            {% for notification in notifications|slice:":5" %}
                            <li>
                                {% if notification.verb == 'posted on'%}
                                <a href="{% url 'detail_topic' notification.target.id %}">
                                    {% elif notification.verb == 'created new topic on'%}
                                    <a href="{% url 'detail_group' notification.target.id %}">
                                        {% endif %}
                                        {% if notification.level == 'warning' %}
                                        <span class="label label-success">{{ notification.timestamp }}</span>
                                        {% elif notification.level == 'info' %}
                                        <span class="label label-warning">{{ notification.timestamp }}</span>
                                        {% endif %}
                                        {{ notification.actor|default:"" }}
                                        {{ notification.verb|default:"" }}
                                        {{ notification.target|default:"" }}</a></li>
                            {% empty %}
                            <li><span class="label label-success">Nothing to notify</span></li>
                            {% endfor %}
                            <li class="divider"></li>
                            <li><a href="{% url 'notifications' %}" class="text-center">View All</a></li>
                        </ul>
                    </li>

                    <li class="dropdown2">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-envelope"></span>Inbox <span class="label label-success">{{message_count}}</span>
                        </a>

                        <ul class="dropdown-menu">

                            {% for notification in inbox_notifications|slice:":5" %}
                            <li>
                                <a href="{% url 'conversation_detail' notification.target.id %}">
                                    {% if notification.level == 'warning' %}
                                    <span class="label label-success">{{ notification.timestamp }}</span>
                                    {% elif notification.level == 'info' %}
                                    <span class="label label-warning">{{ notification.timestamp }}</span>
                                    {% endif %}
                                    {{ notification.actor|default:"" }}
                                    {{ notification.verb|default:"" }}</a></li>
                            {% empty %}
                            <li><span class="label label-success">Nothing to notify</span></li>
                            {% endfor %}
                            <li class="divider"></li>
                            <li><a href="{% url 'inbox' %}" class="text-center">View All</a></li>
                        </ul>
                    </li>

                    <li class="dropdown3">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span>{{user.get_full_name}}
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-cog"></span>Settings</a></li>
                            <li class="divider"></li>
                            <li><a href='{% url "logout" %}'><span class="glyphicon glyphicon-off"></span>Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.container -->
    </nav>
    <!-- /.navbar -->
</div>

