{% extends "base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="/static/css/neighbours.css"/>
{% endblock %}

{% block js %}
{{ block.super }}
     <script>
     var check=0;
     function check_group() {
         check=document.getElementById("id_state").value;
         loadImage();
     }
     function loadImage() {
     var output="";
         if (check==0){
             {% for neigh in my_neighs %}
                 output+="<li><a href=\"{% url 'users' neigh.username %}\">{{neigh.get_full_name }}</a></li>";

             {% endfor %}
         }else{
             {% for neigh in my_neighs %}
                 {% for group in my_groups %}
                     if(check=={{ group.id }}){
                        {% if neigh in group.members.all %}
                             output+="<li><a href=\"{% url 'users' neigh.username %}\">{{neigh.get_full_name }}</a></li>";
                         {% endif %}
                     }
                 {% endfor %}
             {% endfor %}
         }
         if(output=="")
             output="<h5>No neighbours available!</h5>";
         document.getElementById("p1").innerHTML = output;
     }
    window.onload =loadImage;
    </script>
{% endblock %}

{% block title %}Neighbours{% endblock %}

{% block sidebarjs%}
<script>document.getElementById("neighbours").style.cssText = "color: #fff;background-color: #ffbb33;border-radius: 10px;";</script>
{% endblock %}

{% block content %}
<div id="detect-device-mobile" class="col-md-5" style="display: none">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="alert alert-danger" style="width:400px;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        &times;</button>
                    <p>
                        This site not suitable on mobile devices for now!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-9">
    <div class="main-content" >
    <form>
        
        <h1>Neighbours</h1>
        <select class="form-control" id="id_state" name="state" onchange="check_group()">
            <option value="0" selected="selected">All groups</option>
            {% for group in my_groups %}
                <option value='{{ group.id }}'>{{ group.name }}</option>
            {% endfor %}

        </select>
    <p id="p1"></p>
    </form>
    </div>
</div>

{% endblock %}

