{% extends "base.html" %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}

{% block title %}Neighbours{% endblock %}

{% block sidebarjs%}
<script>
    document.getElementById("neighbours").style.color="#fff";
    document.getElementById("neighbours").style.backgroundColor="#ffbb33";
    document.getElementById("neighbours").style.borderRadius="10px";
</script>
{% endblock %}

{% block content %}

<div class="col-md-9">
    <div class="main-content">
    <hr>
    {% for neigh in myneighs %}
        <li><a href="{% url 'users' neigh.username %}">{{neigh.get_full_name }}</a></li>
        {% empty %}
                <h5>No neighbours available!</h5>
        {% endfor %}
    </div>
</div>

{% endblock %}
