<div class="modal fade" id="ModalNewTopic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <form action="{% url 'new_topic' group.id %}" method="post">
                        {% csrf_token %}
                        <div class="col-md-6">
                            <div class="well well-sm">
                                <form style="border-color:#ffbb33;" class="form-horizontal" action="" method="post">
                                    <fieldset>
                                        <legend style="color: #333; font-family: 'Open Sans', sans-serif;" class="text-center">Write a new Topic!</legend>

                                        <!-- Name input-->
                                        <div class="form-group">
                                            <input style="border: 1px solid #ffbb33;" id="id_title" name="title" type="text" maxlength="50" placeholder="The Title!" class="form-control">
                                        </div>

                                        <!-- Message body -->
                                        <div class="form-group">
                                            <textarea style="border: 1px solid #ffbb33;" class="form-control" id="id_content" name="content" placeholder="Please enter your message here..." rows="5"></textarea>
                                        </div>

                                        <!-- Form actions -->
                                        <div class="form-group">
                                            <div class=" col-md-offset-12 text-right">
                                                <input style="float:right;" type="submit" value="Submit" class="btn btn-warning btn">
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>