<script>
function check_temp() {

    if(document.getElementById("id_state").value == '2'){
    document.getElementById("duration").style.display = "block";

    } else{
    document.getElementById("duration").style.display = "none";
    }
}
function check_private() {

    if(document.getElementById("id_type").value == '2'){
    document.getElementById("enrollment_key").style.display = "block";

    } else{
    document.getElementById("enrollment_key").style.display = "none";
    }
}

</script>
<div class="modal fade" id="ModalNewGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create New Group!</h4>
            </div>
            <div class="modal-body">

                {% load profiles_extras %}

                <form class="form-horizontal" action="{% url 'new_group' %}" method="post" id="form1">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_name" class="col-sm-2 control-label">Name:</label>

                        <div class="col-sm-10">
                            <input class="form-control" id="id_name" maxlength="100" name="name" type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_type" class="col-sm-2 control-label">Type:</label>

                        <div class="col-sm-10">
                            <select class="form-control" id="id_type" name="type" onchange="check_private()">
                                <option value="1" selected="selected">Public</option>
                                <option value="2">Private</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_state" class="col-sm-2 control-label">State:</label>

                        <div class="col-sm-10">
                            <select class="form-control" id="id_state" name="state" onchange="check_temp()">
                                <option value="1" selected="selected">Permanent</option>
                                <option value="2">Temporary</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_range" class="col-sm-2 control-label">Range:</label>

                        <div class="col-sm-10">
                            <select class="form-control" id="id_range" name="range">
                                {% for i in 5|get_range %}
                                <option value="{{ i }}" {% if i == 1 %} selected="selected" {% endif %}>{{ i }} km</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="duration" style="display:none">
                        <label for="id_duration" class="col-sm-2 control-label">Duration:</label>

                        <div class="col-sm-10">
                            <select class="form-control" id="id_duration" name="duration">
                                {% for i in 24|get_range %}
                                <option value="{{ i }}" {% if i == 1 %} selected="selected" {% endif %}>{{ i }} hour</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="enrollment_key" style="display:none">
                        <label style="margin-top:-9px;" for="id_enrollment_key" class="col-sm-2 control-label">Enrollment Key:</label>

                        <div class="col-sm-10">
                            <input class="form-control" id="id_enrollment_key" maxlength="20" name="enrollment_key" type="text"/>
                        </div>
                    </div>

                    <input type="hidden" name="longitude" id="longitude"/>
                    <input type="hidden" name="latitude" id="latitude"/>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
                <button onclick="getLocation5();" class="btn btn-success">Create</button>
            </div>
        </div>
    </div>
</div>

<script>
var latitude = document.getElementById("latitude");
var longitude = document.getElementById("longitude");
var form = document.getElementById("form1");

function getLocation5() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition5);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition5(position) {
    latitude.value = position.coords.latitude;
    longitude.value = position.coords.longitude;
    form.submit();
}


</script>


