{% extends "base.html" %}

{% block css %}
       <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
       <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
       <link rel="stylesheet" href="/static/css/navbar.css"/>
       <link rel="stylesheet" href="/static/css/side-navbar.css"/>
       <!--<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css"/>-->
       <link rel="icon" href="/static/media/icon.png">
{% endblock %}

{% block js %}
       <script src="/static/js/ie8-responsive-file-warning.js"></script>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
{% endblock %}

{% block title %}Notifications{% endblock %}

{% block sidebarjs%}
<script>
    document.getElementById("home").style.color="#fff";
    document.getElementById("home").style.backgroundColor="#ffbb33";
    document.getElementById("home").style.borderRadius="10px";
</script>
{% endblock %}


{% block content %}
	  <div class="col-md-9">
              <div class="main-content">
                 <h3>Notifications</h3>
                  {% for notification in notifications %}
                            {% if notification.verb == 'posted on'%}
                            <a href="{% url 'detail_topic' notification.target.id %}">
                            {% elif notification.verb == 'created new topic on'%}
                             <a href="{% url 'detail_group' notification.target.id %}">
                            {% endif %}
                                 {% if notification.level == 'warning' %}
                                 <span class="label label-success">{{ notification.timestamp }}</span>
                                 {% elif notification.level == 'info' %}
                                 <span class="label label-warning">{{ notification.timestamp }}</span>
                                 {% endif %}
                            {{ notification.actor|default:"" }}
                            {{ notification.verb|default:"" }}
                            {{ notification.target|default:"" }}<br>
                             </a>
                        {% empty %}
                         <span class="label label-success" >Nothing to notify</span>
                        {% endfor %}
                            </a>
             </div>
         </div>

{% endblock %}