<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
<p><b>{{ user.get_full_name }}</b></p>
<p><b>Email:</b>{{ user.email }}</p>
<p><b>Date joined:</b>{{ user.date_joined }}</p>
<button onclick="location.href = '{% url 'edit_profile' %}'">Edit Profile</button>

<h3>Favorited Groups</h3>
<ul>
    {% for group in fav_groups %}
    <li><a href="{% url 'detail_group' group.id %}">{{ group.name }}</a></li>
    {% empty %}
    <li>You didn't favorite any group.. yet :D</li>
    {% endfor %}
</ul>
<h3>Favorited Topic</h3>
<ul>
    {% for topic in fav_topics %}
    <li><a href="{% url 'detail_topic' topic.id %}">{{ topic.title }}</a></li>
    {% empty %}
    <li>You didn't topic any group.. yet :D</li>
    {% endfor %}
</ul>
<h3>My Groups</h3>
<ul>
    {% for group in my_groups %}
    <li><a href="{% url 'detail_group' group.id %}">{{ group.name }}</a></li>
    {% empty %}
    <li>You didn't join any group.. yet :D</li>
    {% endfor %}
</ul>

</body>
</html>