{% extends "base.html" %}

{% load gravatar %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="/static/css/profile.css"/>
{% endblock %}

{% block js %}
{{ block.super }}
<script>document.getElementById("home").style.cssText = "color: #fff;background-color: #ffbb33;border-radius: 10px;";</script>
{% endblock %}

{% block title %}Komsu Komsu Huu{% endblock %}

{% block sidebarjs%}

{% endblock %}

{% block content %}
<div id="detect-device-mobile" class="col-md-5" style="display: none">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="alert alert-danger" style="width:400px;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        &times;</button>
                    <p>
                        This site not suitable on mobile devices for now!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-9">
    <div class="main-content">

     
     
     <div class="row">
    
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 style="color:#fff;" class="panel-title">{{ user.get_full_name }}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img style="border: 1px solid #ffbb33;" src="{% gravatar_url user.email 100 %}" style="width:100px;" alt="" class="img-circle" /> </div>
                
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information" style="table-layout:fixed">
                    <body>
                      <tr>
                        <td style="font-weight: 700;">Email:</td>
                        <td>{{ user.email }}</td>
                      </tr>
                      <tr>
                        <td style="font-weight: 700;">Status:</td>
                        <td>{{ user.customuser.status }}</td>
                      </tr>
                      <tr>
                        <td style="font-weight: 700;">Date joined:</td>
                        <td>{{ user.date_joined }}</td>
                      </tr>
                      
                      <tr>
                        <td style="font-weight: 700;">Favourited Groups:</td>
                        
                        <td>{% for group in fav_groups %}<li><a href="{% url 'detail_group' group.id %}">{{ group.name }}</a></li>
                        {% empty %}
                        <li>You don't have any favorite groups!</li>
                        {% endfor %}
                        </td>
                       
                      </tr>
                       
                      <tr>
                        <td style="font-weight: 700;">Favourited Topics:</td>
                        <td>{% for topic in fav_topics %}
                        <li><a href="{% url 'detail_topic' topic.id %}">{{ topic.title }}</a></li>
                        {% empty %}
                        <li>You don't have any favourite topics!</li>
                            {% endfor %}
                        </td>
                      </tr>
                      <tr>
                        <td style="font-weight: 700;">My Groups:</td>
                        <td>
                            {% for group in my_groups %}
                                 {% if group.isActive == True%}
                                     <li><a href="{% url 'detail_group' group.id %}">{{ group.name }}</a></li>
                                 {% endif %}
                            {% empty %}
                                <li>You didn't join any groups yet!</li>
                            {% endfor %}
                        </td>
                      </tr>
                     
                    </body>
                  </table>
                  
                  
                </div>
              </div>
            </div>
                <div class="panel-footer ">
                 <a onclick="location" style="margin-left:400px; width:140px" data-toggle="modal" data-target="#ModalNewGroup" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i>Edit Profile</a>
                {% include 'edit_profile.html' %}
                </div>
            
          </div>
        </div>
      
     
     
     


    </div>
</div>

{% endblock %}