<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/registration.css"/>
    <link rel="icon" href="/static/media/icon.png">
    <script src="/static/js/ie8-responsive-file-warning.js"></script>
</head>
<body>
{% if user.is_authenticated %}
<script language="javascript">
            window.location.href="http://127.0.0.1:8000"

</script>
{% endif %}
<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

            <form action="" method="post">
                {% csrf_token %}

                <form role="form">
                    <h2>Please Sign Up
                        <small>It's free and always will be.</small>
                    </h2>
                    <hr class="colorgraph">

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="first_name" id="id_first_name" maxlength="30"
                                       class="form-control input-lg" placeholder="First Name" tabindex="1">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="last_name" id="id_last_name" maxlength="30"
                                       class="form-control input-lg" placeholder="Last Name" tabindex="2">
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <input type="text" name="username" id="id_username" maxlength="30" class="form-control input-lg"
                               placeholder="Username" tabindex="3">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" id="id_email" maxlength="75" class="form-control input-lg"
                               placeholder="Email Address" tabindex="4">
                    </div>


                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="password" name="password1" id="id_password1" class="form-control input-lg"
                                       placeholder="Password" tabindex="5">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="password" name="password2" id="id_password2" class="form-control input-lg"
                                       placeholder="Confirm Password" tabindex="6">
                            </div>
                        </div>
                    </div>

                    <div>
                        <p>
                            By clicking <strong class="label label-primary">Submit</strong>, you agree to the <a
                                href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out
                            by this site, including our Cookie Use.
                        </p>
                    </div>

                    <hr class="colorgraph">
                    <div class="row">
                        <div class="col-xs-12 col-md-6"><input type="submit" value="Submit"
                                                               class="btn btn-primary btn-block btn-lg" tabindex="7">
                        </div>
                        <div class="col-xs-12 col-md-6"><a href='{% url "login" %}'
                                                           class="btn btn-success btn-block btn-lg">Sign In</a></div>
                    </div>
                </form>
            </form>
        </div>
    </div>


    <div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
                </div>
                <div class="modal-body">
                    <b>PLEASE READ THE FOLLOWING TERMS AND CONDITIONS OF USE CAREFULLY BEFORE USING THIS WEBSITE.</b>
                    <br>All users of this site agree that access to and use of this site are subject to the following
                    terms and conditions and other applicable law. If you do not agree to these terms and conditions,
                    please do not use this site.
                    <br><br><b>Trademarks</b>
                    <br>Any trademarks or logos used throughout this website are the property of their respective
                    owners.
                    <br><br><b>Copyright</b></p3>
                    <br>The entire content included in this site, including but not limited to text, graphics or code is
                    copyrighted as a collective work under the copyright laws, and is the property of Komsu Komsu Hu Hu
                    Design and Manufacturing. Copyright 2015, Komsu Komsu Hu Hu Design and Manufacturing. ALL RIGHTS
                    RESERVED.
                    <br><br><b>Use of Site</b>
                    <br>Harassment in any manner or form on the site, including via e-mail, chat, or by use of obscene
                    or abusive
                    language, is strictly forbidden. Impersonation of others, including a Komsu Komsu Hu Hu Design and
                    Manufacturing
                    or other licensed employee, host, or representative, as well as other members or visitors on the
                    site is prohibited.
                    You may not upload to, distribute, or otherwise publish through the site any content which is
                    libelous, defamatory,
                    obscene, threatening, invasive of privacy or publicity rights, abusive, illegal, or otherwise
                    objectionable which
                    may constitute or encourage a criminal offense, violate the rights of any party or which may
                    otherwise give rise to
                    liability or violate any law.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <script src="/static/js/registration.js"></script>

</div>

<!--<h3>Register Page</h3>

 <form action="" method="post">
        {% csrf_token %}
        <table border="1">
           <tr><th><label for="id_first_name">First name:</label></th><td><input id="id_first_name" maxlength="30" name="first_name" type="text" /></td>
          <th><label for="id_last_name">Last name:</label></th><td><input id="id_last_name" maxlength="30" name="last_name" type="text" /></td></tr>
           <tr><th><label for="id_username">Username:</label></th><td><input id="id_username" maxlength="30" name="username" type="text" /><br /><span class="helptext">Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.</span></td></tr>
           <tr><th><label for="id_email">Email address:</label></th><td><input id="id_email" maxlength="75" name="email" type="email" /></td></tr>
           <tr><th><label for="id_password1">Password:</label></th><td><input id="id_password1" name="password1" type="password" /></td></tr>
           <tr><th><label for="id_password2">Password confirmation:</label></th><td><input id="id_password2" name="password2" type="password" /><br /><span class="helptext">Enter the same password as above, for verification.</span></td></tr>

        </table>
        <input type="submit" value="Submit" />

 </form> -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>


</body>
</html>