{% extends "base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="/static/css/topics.css"/>
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}

{% block title %}Topics{% endblock %}

{% block sidebarjs%}
<script>document.getElementById("topics").style.cssText = "color: #fff;background-color: #ffbb33;border-radius: 10px;";</script>
{% endblock %}

{% block content %}

<div class="col-md-9">
    <div class="main-content">
        
        <h1>Favourite Topics</h1>
        {% for topic in my_topics %}
        <li><a href="{% url 'detail_topic' topic.id %}">{{ topic.title }}</a></li>
        {% empty %}
        <h5>No topics available!</h5>
        {% endfor %}
    </div>
</div>

{% endblock %}
