{% extends "base.html" %}

{% load gravatar %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="/static/css/users.css"/>
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}

{% block title %}Komsu Komsu Huu{% endblock %}

{% block sidebarjs%}
<script>document.getElementById("home").style.cssText = "color: #fff;background-color: #ffbb33;border-radius: 10px;";</script>
{% endblock %}

{% block content %}
<div id="detect-device-mobile" class="col-md-5" style="display: none">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="alert alert-danger" style="width:400px;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        &times;</button>
                    <p>
                        This site not suitable on mobile devices for now!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">

    	 <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2>{{ users.get_full_name }}</h2>
                    <p><strong>Number of topics: </strong> {{ users.topic_owner.count }} </p>
                    <p><strong>Number of posts: </strong> {{ users.post_owner.count }} </p>
                    <p><strong>Number of joined groups: </strong>{{ users.members.count }}</p>
                </div>             
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                        <img src="{% gravatar_url users.email 100 %}" alt="" class="img-circle img-responsive" style="width:170px; margin-left:0px; margin-bottom: 10px; margin-top:-10px;">
                        
                    </figure>
                </div>
            </div>            
            <div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-4 emphasis">
                    
                    <button type="button"  class="btn btn-success btn-block" data-toggle="modal" data-target="#ModalNewGroup" ><span class="fa fa-plus-circle"></span> Message </button>
                    
                    <div class="modal fade" id="ModalNewGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Send a private message!</h4>
                             </div>
                          <form action="{% url 'new_message' users.username %}" method="post">
                             <div class="modal-body">
                                
                                  {% csrf_token %}
                                 <div class="form-group">                                    
                                  <textarea class="form-control" cols="40" id="id_text" name="text" rows="10"></textarea>                                    
                                  </div>
                                 
                                </div>
                            <div class="modal-footer">
                              <button class="btn btn-default" data-dismiss="modal">Close</button>
                              <input type="submit" value="Send" class="btn btn-success"/>
                             <!--<button type="submit" value="Send a message" class="btn btn-success"></button>-->
                             </div>
                           </form> 
                         </div>
                     </div>
                </div>
                    
                </div>
                
                
            </div>
    </div>
</div>


{% endblock %}