<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Users Page</title>
</head>
<body>
        <p><b>{{ user.get_full_name }}</b></p>
        <p><b>Number of topic:</b> {{ user.topic_owner.count }}</p>
        <p><b>Number of post:</b> {{ user.post_owner.count }}</p>
        <p><b>Number of joined groups:</b>{{ user.members.count }}</p>
        <form action="{% url 'new_message' user.username %}" method="post">
            {% csrf_token %}
            <h3>Send a private message:</h3>
            {{ form.text }}
            <input type="submit" value="Send a message"/>
        </form>

</body>
</html>