<!DOCTYPE html>
<html>
<head>
    <title>Şifre Sıfırlama İsteği</title>
     <link rel="stylesheet" type="text/css" href="/static/base.css" />
</head>
<body>
<h3>Şifre Sıfırlama</h3>
Şifrenizi unuttuysanız, aşağıdaki kutuya e-posta adresinizi giriniz. Size şifre sıfırlamanız için posta göndereceğiz.
 
<form action="" method="post">
    {% csrf_token %}
    {{form.email.errors}}
    <p>E-posta adresi:
    {{ form.email }}
    <input type="submit" value="Şifre Sıfırla" />
    </p>
 
</form>
</body>
</html>